<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oasys.za.ac.uj.team36.tests">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="SebenzaSA"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeUser"
            android:label="@string/title_activity_home_user__template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TradeWorker"
            android:label="@string/title_activity_trade_worker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".regHomeuser"
            android:label="@string/title_activity_reg_homeuser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".regTradeworker"
            android:label="@string/title_activity_reg_tradeworker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".requestTradeworker"
            android:label="@string/title_activity_request_tradeworker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TradeworkerJobRequests"
            android:label="@string/title_activity_tradeworker_job_requests"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TradeworkerInitiatedJobs"
            android:label="@string/title_activity_tradeworker_initiated_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TradeworkerOngoingJobs"
            android:label="@string/title_activity_tradeworker_ongoing_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TradeworkerFinishedJobs"
            android:label="@string/title_activity_tradeworker_finished_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeuserOngoingJobs"
            android:label="@string/title_activity_homeuser_ongoing_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeuserFinishedJobs"
            android:label="@string/title_activity_homeuser_finished_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeuserInitiatedJobs"
            android:label="@string/title_activity_homeuser_initiated_jobs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeuserManageJobs"
            android:label="@string/title_activity_homeuser_manage_jobs"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>