<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oasys.za.ac.uj.team36.tests">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="SebenzaSA"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register_HomeUser"
            android:label="@string/title_activity_register__home_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeUser"
            android:label="@string/title_activity_home_user__template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TradeWorker"
            android:label="@string/title_activity_trade_worker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registerHomeUser"
            android:label="@string/title_activity_register_home_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".registerTradeWorker"
            android:label="@string/title_activity_registertrade_worker"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>