<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="oasys.za.ac.uj.team36.tests">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="SebenzaSA"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeUser"
            android:label="@string/title_activity_home_user__template"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TradeWorker"
            android:label="@string/title_activity_trade_worker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".regHomeuser"
            android:label="@string/title_activity_reg_homeuser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".regTradeworker"
            android:label="@string/title_activity_reg_tradeworker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".requestTradeworker"
            android:label="@string/title_activity_request_tradeworker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".JobRequestsTradeWorker"
            android:label="Job Request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OngoingJobsTradeworker"
            android:label="@string/title_activity_ongoing_jobs_tradeworker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinishedJobsTradeworker"
            android:label="@string/title_activity_finished_jobs_tradeworker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InitiatedJobsTradeWorker"
            android:label="@string/title_activity_initiated_jobs_trade_worker"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OngoingJobsHomeuser"
            android:label="@string/title_activity_ongoing_jobs_homeuser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InitiatedJobsHomeuser"
            android:label="@string/title_activity_initiated_jobs_homeuser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FinishedJobsHomeuser"
            android:label="@string/title_activity_finished_jobs_homeuser"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManageJobsHomeuser"
            android:label="@string/title_activity_manage_jobs_homeuser"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>